<div class="bg-white rounded-x shadow-x pb-5">
  <div class="p-7">
    <div class="heading d-flex align-items-center mb-5">
      <h1 class="me-3 fw-normal">Tags</h1>
      <%= link_to new_tag_path, class:"add-image-icon shadow-x d-flex justify-content-center align-items-center text-dark ms-3" do %>
        <%= fa_icon "plus" %>
      <% end %>
    </div>
    <%= render "shared/search" %>
  </div>
  <%= render "tags/tags", tags: @tags %>
  <%= paginate @tags %>
</div>
