<%= form_with model: image, multipart: true do |form| %>
  <%= render "shared/errors", obj: image.errors %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, :required => true %>
  </div>

  <div class="field">
    <%= form.label :file %>
    <%= form.file_field :file, :required => true %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
