  <div class="table-responsive mb-5 pb-8">
    <table class="table">
      <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col" class="fw-bold">
            Name <%= fa_icon "chevron-down", class: 'class' %>
          </th>
          <th scope="col">Tags</th>
          <th scope="col" class="text-center">Total Tags</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <% images.each do |image| %>
            <tr>
              <td class="d-flex justify-content-end">
                <img src="<%= image.file.url %>" alt="<%= image.name %>" class="images ms-auto">
              </td>
              <td>
                <div class="fw-bold font-20"><%= image.name %></div>
                <div class="font-14"><%= file_size(image) %> KB</div>
              </td>
              <td><%= render partial: "tags/tag", collection: image.tags.pluck(:name) %></td>
              <td class="text-center">
                <%= image.tags.pluck(:name).count %>
              </td>
              <td>
                <ul class="navbar-nav actions-menu">
                  <li class="dropdown">
                    <a class="nav-link dropdown-toggle text-dark rounded-x shadow-x" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Actions <%= fa_icon "ellipsis-v", class: 'me-1' %>
                    </a>
                    <ul class="dropdown-menu rounded-x shadow-x border-0">
                      <li><%= link_to 'View', image, class: 'dropdown-item' %></li>
                      <li><%= link_to 'Edit', edit_image_path(image), class: 'dropdown-item' %></li>
                      <li><%= link_to 'Delete', image, method: :delete, data: { confirm: 'Are you sure?' }, class: 'dropdown-item' %></li>
                    </ul>
                  </li>
                </ul>
              </td>
            </tr>
          <% end %>
      </tbody>
    </table>
  </div>
