<tr>
  <td class="d-flex justify-content-end">
    <img src="<%= image.file.url %>" alt="<%= image.name %>" class="images ms-auto">
  </td>
  <td>
    <div class="fw-bold font-20"><%= image.name %></div>
    <div class="font-14"><%= file_size(image) %> KB</div>
  </td>
  <td>
    <% if image.tags %>
      <%= render partial: "tags/tag", collection: image_tags_list(image) %>
    <% end %>
  </td>
  <td class="text-center">
    <%= image_tags_num(image) %>
  </td>
  <td>
    <%= render partial: "shared/actions", locals: { model: image, edit_path: edit_image_path(image) } %>
  </td>
</tr>
