<div class="table-responsive mb-5 pb-10">
  <table class="table">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col" class="fw-bold">
          <%# link_to('name', 'javascript:void(0);', onclick: "console.log('test')") %>
          <% if @order == 'desc' %>
            <%= link_to images_path(sort_by: 'asc'), class: 'sort-by-name' do %>
              Name <%= fa_icon "chevron-up" %>
            <% end %>
          <% else %>
            <%= link_to images_path(sort_by: 'desc'), class: 'sort-by-name' do %>
              Name <%= fa_icon "chevron-down" %>
            <% end %>
          <% end %>
        </th>
        <th scope="col">Tags</th>
        <th scope="col" class="text-center">Total Tags</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <%= render partial: "images/image", collection: images %>
    </tbody>
  </table>
</div>
