<div class="container-lg bg-white rounded shadow">
  <div class="p-5">
    <div class="heading d-flex">
      <h1>Images</h1>
      <%= link_to new_image_path do %>
        <%= fa_icon "plus", class: 'class' %>
      <% end %>
    </div>
  <div>here should be tags</div>
  <%= render "common/search" %>
  </div>
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col">Name ></th>
          <th scope="col">Tags</th>
          <th scope="col">Total Tags</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <% @images.each do |image| %>
            <tr>
              <td><img src="<%= image.file.url %>" alt="<%= image.name %>" class="images"></td>
              <td><%= image.name %></td>
              <td><%= render partial: "tags/tag", collection: image.tags.pluck(:name) %></td>
              <td><%= image.tags.pluck(:name).count %></td>
              <td>
                <select class="form-select" aria-label="Default select example">
                  <option selected>Actions</option>
                  <option value="1"><%= link_to 'Show', image %></option>
                  <option value="2"><%= link_to 'Edit', edit_image_path(image) %></option>
                  <option value="3"><%= link_to 'Destroy', image, method: :delete, data: { confirm: 'Are you sure?' } %></option>
                </select>
              </td>
            </tr>
          <% end %>
      </tbody>
    </table>
  </div>
</div>
