<div id="modal-container"></div>
<div class="bg-white rounded-x shadow-x pb-5">
  <div class="p-7">
    <div class="heading d-flex align-items-center mb-5">
      <h1 class="me-3 fw-normal">Images</h1>
      <%= link_to new_image_path, remote: true, class:"add-item-icon shadow-x d-flex justify-content-center align-items-center text-dark ms-3" do %>
        <%= fa_icon "plus" %>
      <% end %>
    </div>
    <div class="header-tags mb-5 d-flex gap-16">
        <%= link_to images_path, class: 'btn btn-light shadow-x bg-white rounded-50 font-16 py-3 px-4 fw-bold' do %>
          ALL (<%= all_images_num(current_user.images) %>)
        <% end %>
      <% @tags.each do |tag| %>
        <%= link_to tag_path(tag), class: 'btn btn-light shadow-x bg-white rounded-50 font-16 py-3 px-4' do %>
          <%= tag.name  %> (<%= tag_images_num(tag) %>)
        <% end %>
      <% end %>
    </div>
    <%= render "shared/search", path: images_path %>
  </div>
  <%= render partial: "images/images", locals: { images: @images, current: 'images' } %>
  <%= paginate @images %>
</div>
