<div class="container-lg bg-white rounded-x shadow-x pb-5">
  <div class="p-7">
    <div class="heading d-flex align-items-center">
      <h1 class="me-3 fw-normal">Images</h1>
      <%= link_to new_image_path, class:"add-image-icon shadow-x d-flex justify-content-center align-items-center text-dark ms-3" do %>
        <%= fa_icon "plus" %>
      <% end %>
    </div>
    <div>here should be tags</div>
    <%= render "shared/search" %>
  </div>
  <%= render "images/images", images: @images %>
  <%= paginate @images %>
</div>
